In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

## Exemplo 1 ---> Números incorretos

In [4]:
dados = {
    'Idade': [25, 30, 35, 400, 45, 50, 554, 60, 60, 24, 233, 70, 26]
}

df = pd.DataFrame(dados) # ---> CRIAÇÃO DO DATAFRAME
print(df)

    Idade
0      25
1      30
2      35
3     400
4      45
5      50
6     554
7      60
8      60
9      24
10    233
11     70
12     26

O ideal é sempre primeiro verificar a integridade dos dados antes de apresentar a análise, ver se os dados são coesos com a realidade...

In [6]:
media = df['Idade'].mean()
print(media)

124.0

## Exemplo 2 ---> Erros de Digitação

In [13]:
dados = {
    'Idade': [25, 30, 35, 400, 45, 50, 554, 60, 60, 24, 233, 70, 26],
    'Cidade': ['São Paulo   ', 'Salvador', 'Curitiba', 'Sao Paulo', 'Salvador', 'Curitiba', 'Sao Paulo', 'Salvador', 'salvador', 'Curtiba','São Paulo','São  Paulo','salvador']
}

df = pd.DataFrame(dados)
print(df)

    Idade        Cidade
0      25  São Paulo
1      30      Salvador
2      35      Curitiba
3     400     Sao Paulo
4      45      Salvador
5      50      Curitiba
6     554     Sao Paulo
7      60      Salvador
8      60      salvador
9      24       Curtiba
10    233     São Paulo
11     70    São  Paulo
12     26      salvador

É importante verificar a digitação dos categóricos dos dados, ver acentuação, letras maiúsculas e minúsculas, erros de digitação e também espaços

In [11]:
df.groupby('Cidade')['Idade'].mean().reset_index().sort_index(ascending = False)

          Cidade  Idade
6       salvador   43.0
5      São Paulo  129.0
4  São     Paulo   70.0
3      Sao Paulo  477.0
2       Salvador   45.0
1        Curtiba   24.0
0       Curitiba   42.5

Manter um padrão para dados de texto, preferencialmente não usar acentuação e também sempre procurar por erros de digitação

## Exemplo 3 ---> Dados incompletos e tipagem incorreta

In [3]:
dados = {
    'Idade': [25, 30, 35, 400, 45, 50, 554, 60, 60, 24, 233, 70, 26],
    'Cidade': ['São Paulo', 'Salvador', 'Curitiba', 'Sao Paulo', 'Salvador', 'Curitiba', 'Sao Paulo', 'Salvador', 'salvador', 'Curtiba','São Paulo','São Paulo','salvador'],
    'Salario': ['1200,0', '0', '4000,0', '0', '5000,0', '1500,0', '0', '0', '0', '3000,0','2500,0','3000,0','0']
}

df = pd.DataFrame(dados)
print(df)

    Idade     Cidade Salario
0      25  São Paulo  1200,0
1      30   Salvador       0
2      35   Curitiba  4000,0
3     400  Sao Paulo       0
4      45   Salvador  5000,0
5      50   Curitiba  1500,0
6     554  Sao Paulo       0
7      60   Salvador       0
8      60   salvador       0
9      24    Curtiba  3000,0
10    233  São Paulo  2500,0
11     70  São Paulo  3000,0
12     26   salvador       0

Nem sempre é possível de ter os dados 100% completos, seja por conta de erros ou pelo cliente não fornecer a informação, por isso é importante analisar campos nulos para não enviesar a análise.

Outro erro comum é registros com a tipagem incorreta, nesse caso, o salário está como uma string e não como float ou int, portanto, não é possível executar funções matemáticas nesse coluna

In [6]:
# ERRO DE TIPAGEM
df.groupby('Cidade')['Salario'].mean().reset_index().sort_values(ascending = False)

TypeError: dtype 'str' does not support operation 'mean'