In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('../Dados/CHURN_CREDIT_MOD14.csv', delimiter =';')

df.head(10)

C:\Users\leobo\AppData\Local\Temp\ipykernel_316\2798939457.py:1: DtypeWarning: Columns (0: Salario_Anual) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Dados/CHURN_CREDIT_MOD14.csv', delimiter = ';')

,CustomerId,Sobrenome,Credit_Score,Pais,Genero,Idade,Tempo_Credito,Balance,Qtd_Produtos,Possui_Cartao,Membro_Ativo,Salario_Anual,Churn
0,15813451,Fleetwood-Smith,677,Spain,Male,18.0,5,134796.87,2,1.0,0.0,114858.9,0.0
1,15641688,Collier,644,Spain,Female,18.0,7,0.00,1,0.0,1.0,74564.41,0.0
2,15757821,Burgess,641,Spain,Male,18.0,1,0.00,2,0.0,1.0,41542.95,0.0
3,15673180,Onyekaozulu,826,Spain,Male,18.0,2,0.00,2,0.0,1.0,16245.25,0.0
4,15664543,Tuan,774,Spain,Female,18.0,1,185891.54,1,1.0,0.0,175072.41,0.0
5,15673180,Onyekaozulu,688,Spain,Female,18.0,2,0.00,2,1.0,0.0,98349.13,0.0
6,15641688,Collier,803,Spain,Male,18.0,6,0.00,1,0.0,0.0,59645.24,1.0
7,15672940,Yevseyev,578,Spain,Female,18.0,8,71843.15,2,0.0,1.0,112649.22,0.0
8,15694192,Nwankwo,598,Spain,Male,18.0,6,0.00,2,0.0,1.0,173783.38,0.0
9,15585867,Iroawuchi,624,Spain,Female,18.0,6,0.00,2,0.0,1.0,117038.96,0.0

O erro acima é comum, o pandas ta avisando que existem colunas com strings e valores numéricos

Entendendo cada coluna:
*   **CustomerID** : Esse é o ID único de cada cliente nosso.
* **Sobrenome**: Essa é bem intuitiva é o sobrenome de cada cliente.
* **Credit_Score**: É o Score de crédito de cada cliente, muito semelhante aquele número que o serasa e outras empresas atribuem para os clientes. Quer saber mais sobre score de crédito? [Acesse esse link](https://www.investopedia.com/terms/c/credit_score.asp)
* **Pais**: O pais de cada cliente.
* **Idade**: A idade de cada cliente.
* **Tempo_Credito**: Há quanto tempo nosso cliente utiliza produtos de crédito na nossa empresa - ANOS-.
* **Balance**: é o balanço final do nosso cliente, o quanto ele tem em aberto conosco para ainda pagar.
* **Qtde_Produtos**: Quantos produtos ele tem contratado com a gente.
* **Possui_Cartao**: Se ele possui cartão de crédito.
* **Membro_Ativo**: Se atualmente ele é um membro ativo na nossa empresa.
* **Salario_anual**: Salário anual do nosso cliente em dólares por ano.
* **Churn**: Ne nosso cliente deu churn,** 1 para clientes que nos abandonaram e 0 para clientes que ainda estão conosco!**

# Explorando...

In [5]:
# TRAZENDO A TIPAGEM DE CADA COLUNA
df.dtypes

CustomerId         int64
Sobrenome            str
Credit_Score       int64
Pais                 str
Genero               str
Idade            float64
Tempo_Credito      int64
Balance          float64
Qtd_Produtos       int64
Possui_Cartao    float64
Membro_Ativo     float64
Salario_Anual     object
Churn            float64
dtype: object

In [6]:
# TRAZ INFORMAÇÕES DE: TOTAL DE REGISTROS, DADOS NULOS, TIPAGEM DE COLUNAS
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CustomerId     100000 non-null  int64
 1   Sobrenome      100000 non-null  str
 2   Credit_Score   100000 non-null  int64
 3   Pais           100000 non-null  str
 4   Genero         99990 non-null   str
 5   Idade          99794 non-null   float64
 6   Tempo_Credito  100000 non-null  int64
 7   Balance        100000 non-null  float64
 8   Qtd_Produtos   100000 non-null  int64
 9   Possui_Cartao  100000 non-null  float64
 10  Membro_Ativo   100000 non-null  float64
 11  Salario_Anual  100000 non-null  object
 12  Churn          99911 non-null   float64
dtypes: float64(5), int64(4), object(1), str(3)
memory usage: 9.9+ MB

**Object** --> Classe genérica, qualquer tipo de dado e ocorre principalmente quando a coluna possui mais de um tipo de dado

## Alterando a tipagem dos dados...

In [7]:
df['Salario_Anual'] = df['Salario_Anual'].astype(float)

ValueError: could not convert string to float: '38.190.168'

O erro acima evidencia que alguns registros estão como string por causa dos pontos que estão sendo utilizados de separadores

In [8]:
# REMOVENDO OS . SEPARADORES
df['Salario_Anual'] = df['Salario_Anual'].str.replace('.', '', regex = False) # REGEX = FALSE garante que apenas o valor exato (".") seja substituído, quando é TRUE, o regex se comporta de acordo com seus caracteres especiais, nesse caso "." é um coringa e iria substituir todos os caracteres presentes nos registros com "."

# REFAZENDO A CONVERSÃO
df['Salario_Anual'] = df['Salario_Anual'].astype(float)

In [9]:
df['Churn'] = df['Churn'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer.Replace or remove non-finite values or cast to an integer typethat supports these values (e.g. 'Int64')

O erro acima indica que o pandas não pode converter os registros com erros / nulos (NA)

Por se tratar da principal coluna de análise da aula, é necessário entender mais essa coluna e interpretar como será tratado esse erro. Não existe uma fórmula pronta aplicável a todo tipo de dado, portanto a interpretação é crucial.

In [11]:
# SALVANDO O TRATAMENTO FEITO EM UM NOVO ARQUIVO
# df.to_csv('CHURN_CREDIT_MOD14_TRATADO.csv')

df2 = pd.read_csv('../Dados/CHURN_CREDIT_MOD14_TRATADO.csv')
df2.dtypes

Unnamed: 0         int64
CustomerId         int64
Sobrenome            str
Credit_Score       int64
Pais                 str
Genero               str
Idade            float64
Tempo_Credito      int64
Balance          float64
Qtd_Produtos       int64
Possui_Cartao    float64
Membro_Ativo     float64
Salario_Anual    float64
Churn            float64
dtype: object